<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.domain.Emp">
        <result column="eId" jdbcType="INTEGER" property="eId" />
        <result column="eName" jdbcType="VARCHAR" property="eName" />
    </resultMap>



    <select id="select" resultMap="BaseResultMap">
        select 
        *
        from emp
    </select>
</mapper>